<%= form_for(@game_id) do |f| %>
  <% if @game_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_id.errors.count, "error") %> prohibited this game_id from being saved:</h2>

      <ul>
      <% @game_id.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
