<h1>Listing game_ids</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @game_ids.each do |game_id| %>
      <tr>
        <td><%= game_id.id %></td>
        <td><%= link_to 'Show', game_id %></td>
        <td><%= link_to 'Edit', edit_game_id_path(game_id) %></td>
        <td><%= link_to 'Destroy', game_id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_id_path %>
