<%- model_class = Clue -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:answer) %>:</strong></dt>
  <dd><%= @clue.answer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:question) %>:</strong></dt>
  <dd><%= @clue.question %></dd>
  <dt><strong><%= model_class.human_attribute_name(:value) %>:</strong></dt>
  <dd><%= @clue.value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @clue.category %></dd>
  <dt><strong><%= model_class.human_attribute_name(:airdate) %>:</strong></dt>
  <dd><%= @clue.airdate %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              clues_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_clue_path(@clue), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              clue_path(@clue),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
