<%= render "layouts/menu" %>

<ol class="breadcrumb">
  <li><%= link_to "index" %></li>
</ol>

<%- model_class = Clue -%>

<div class="container">
    <div class="row">
        <div class=" col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= @clue.category.title.humanize %> <span class="badge badge-success">$<%= @clue.value %></span></h3>
          </div>
          <div class="panel-body">
            <p><strong>Question:</strong> <%= @clue.question %></p>
              <hr />
            
            <p>
                <strong>Answer: </strong> 
                <a class="btn btn-sm btn-default" id="show-answer">Show</a>
                <span id="answer"><%= @clue.answer.humanize %></span>
            </p>
            <small class="pull-right"><em>Airdate: <%= @clue.airdate.strftime('%b %-d %Y') %></em></small>
          </div>
        </div>
        
</div>
</div>
</div>
</div>
